body {
    font-family: Sans-Serif;
    background-color: #eee;
    padding-top: 50px;
}
h1, h2 {
    text-align: center;
    font-weight: thin;
    color: #333;
}
a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: purple;
    text-decoration: underline;
}
a:active {
    color: red;
}

/* navigation stuff */
nav {
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    height: 50px;
    background: black;
    color: white;
}
nav a {
    color: white;
}
nav ul {
    display: block;
    margin: auto;
}
nav li {
    display: inline;
    padding: 2px;
}
nav form {
    display: inline;
}
#searchbox {
    float: right;
    }
