<!doctype html>
<html>
  <head>
    <title>{% block title %}TODO: {{ display_title }}{% endblock %}</title>
    {% block htmlhead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    {% endblock %}
  </head>
<body>
<header>
  <h1>Title...{{ display_title }}</h1>
  <nav>
    {% block nav %}
    <ul>
        <li><a href="new-item" class="button">New</a></li>
        {% block login %}
        <li><a href="log-in" class="button">Log in</a></li>
        {% endblock %}
        <li id="searchbox"><form action="search">Search:<input type="search" name="q" /><button type="submit">go</button></form></li>
    </ul>
    {% endblock %}
  </nav>
</header>

{% block body %}
{% endblock %}

<ul id="flashed_notices">
{% for msg in get_flashed_messages() %}
  <li>{{ msg }}</li>
{% endfor %}
</ul>
<footer>
</footer>
{% block end_of_page_javascript %}
  <!-- jquery, ga, whatever goes here. -->
<script type="text/javascript" src="{{ url_for('static',filename='main.js') }}"></script>
{% endblock %}
</body>
</html>
