{% extends "index.html" %}
{% block title %}ITEM: {{ itemtitle }} {% endblock %}
{% block nav %}
<ul>
    <li><a href="save" class="button">Save</a></li>
    <li><a href="new-item" class="button">New</a></li>
    {% block login %}
    <li><a href="log-in" class="button">Log in</a></li>
    {% endblock %}
    <li id="searchbox"><form action="search">Search:<input type="search" name="q" /><button type="submit">go</button></form></li>
</ul>
{% endblock %}

{% block body %}
<h2> content: </h2>
<div id="content">{{ content }}</div>
<h2> media: </h2>
<div id="media">{{ media }}</div>
<h2> comments </h2>
<div id="comments">{{ comments }}</div>
{% endblock %}
